.rolldice {
  display: flex;
  flex-direction: column;
}
.rolldice button {
  max-width: 250px;
  padding: 20px 50px 20px 50px;
  margin: auto;
  background-color: #000;
  border: 0;
  border-radius: 20px;
  color: #ffff;
  font-size: 18px;
}

.rolldice button:hover {
  background-color: rgb(12, 73, 97);
}
